
<div class="new_registration">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class='headingsContainer'>
  <h2>Log in</h2>
</div>

<div class="mainContainer">
  <div class="email_field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="password_field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="subcontainer">
  <% if devise_mapping.rememberable? %>
    <div class="checkbox_field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  </div>

  <div class="actions_field">
    <%= f.submit "Log in" %>
  </div>
</div>
<% end %>

<div class="other_links">
  <%= render "users/shared/links" %>
</div>

</div>