<% if @order != 0 %>
  <h3>Amount Payable: <%= @order.amount %></h3>

  <button id="<%= @order.id%>" class="rzp-button1" data-id="<%= @order.amount%>">Pay Amount </button>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
  var paymentLink = document.querySelectorAll('.rzp-button1');
  for (var i = 0; i < paymentLink.length; i++) {
    paymentLink[i].addEventListener('click', function(e)
    {
      amount = this.getAttribute("data-id")
      var options = {
        "key": "rzp_test_HQjCHaUrq9wHz1",
        "amount": amount * 100, 
        "currency": "INR",
        "name": "Acme Corp",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",

        "handler": function (response){
          alert(response.razorpay_payment_id);
          alert(response.razorpay_order_id);
          alert(response.razorpay_signature);
          <%#= render user_path(current_user.id) %>

          window.location = '/update_accounting?payment_id='+response.razorpay_payment_id

        },

        "prefill":{
          "name": "<%=current_user.name%>",
          "email": "<%=current_user.email%>",
          "contact": "9926292907"
        },

        "notes":{
          "address": "Razorpay Corporate Office"
        },

        "theme": { "color": "#3399cc" }
      };
      var rzp1 = new Razorpay(options);
      rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
      });
      rzp1.open();
      e.preventDefault();
    });
  }
  </script>

<% else %>
 <h3>Nothing to Pay! Yea!</h3>
<% end %>