<h1>Receipt Id: <%= @receipt.id %></h1>

<p>Name: <%= @receipt.user.name %></p>

<p>Amount: <%= @receipt.amount %></p>

<p>Razorpay Payment Id: <%= @receipt.payment_id %></p>

<p>Date-Time: <%= @receipt.created_at %></p>

<p>Status: <%= @receipt.status %></p>